
.mb-0{
  color: rgb(44, 33, 33);
  margin: 5px;
  align-content: center;
}
.col-md-9{
margin: 20px;
padding: 10px;
}
.mat-mdc-card-header {
  display: flex;
  padding: 20px;
}
.mat-mdc-card-title, .mat-mdc-card-subtitle {
  display: block;
  margin: 0;
  font-size: x-large;
}
