<breadcrumb></breadcrumb>
<mat-card>
  <mat-card-header>
    <div class="row mt-5">
      <div class="col-md-12">
        <h2>Advanced Shipping Notification </h2>
      </div>
    </div>

  </mat-card-header>
  <mat-card-content>
    <form #addasn [formGroup]="ASNHeaderForm" class="form-field-full">
      <div class="row mt-5">
        <div class="col-sm-3">
          <label class="custom-label">
            <h5> PO Number</h5>
          </label>
          <mat-form-field class="demo-full-width">
            <input matInput
                   [matAutocomplete]="PrnoAutocomplete"
                   formControlName="PoNo"
                   placeholder="Select PO Number">
            <mat-autocomplete #PrnoAutocomplete="matAutocomplete"
            (optionSelected)='getpono($event.option.value)'>
              <mat-option *ngFor="let Pono of filteredprno | async"
                          [value]="Pono?.Id">
                <span>{{ Pono?.ERPPONumber }}</span>
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="ASNHeaderForm.get('PoNo')?.hasError('required')">
              Please select  PurchaseOrder Number...
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <label class="custom-label">
            <h5>ASN Doc Type</h5>
          </label>
          <mat-form-field class="demo-full-width">
            <input matInput
                   [matAutocomplete]="docAutocomplete"
                   formControlName="DocType" readonly
                   placeholder="Doc Type">
            <mat-autocomplete #docAutocomplete="matAutocomplete" >
              <mat-option *ngFor="let docType of filteredDocType | async"
                          [value]="docType?.Type">
                <span>{{ docType?.Type }}</span>
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="ASNHeaderForm.get('DocType')?.hasError('required')">
              Please select doc type...
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <label class="custom-label">
            <h5>supplier Code<small>*</small></h5>
          </label>
          <mat-form-field class="demo-full-width">
            <input matInput
                   [matAutocomplete]="docAutocomplete"
                   formControlName="SupplierCode" readonly
                   placeholder="supplier Code">
                   <mat-autocomplete #docAutocomplete="matAutocomplete" >
                    <mat-option *ngFor="let docType of filteredDocType | async"
                                [value]="docType?.Type">
                      <span>{{ docType?.Type }}</span>
                    </mat-option>
                  </mat-autocomplete>
            <mat-error *ngIf="ASNHeaderForm.get('SupplierCode')?.hasError('required')">
              Please select supplier code...
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <label class="custom-label">
            <h5>supplier Name</h5>
          </label>
          <mat-form-field appearance="outline" class="demo-full-width">
            <input matInput type="text" formControlName="SupplierName" readonly
            placeholder="supplier Name" readonly>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <label class="custom-label">
            <h5> Document Date</h5>
          </label>
          <mat-form-field>
            <input matInput
                   [matDatepicker]="documentPicker"
                   required
                   (focus)="documentPicker.open()"
                   readonly
                   formControlName="Documentdate"
                   placeholder="Document Date" readonly>
            <mat-datepicker-toggle matSuffix [for]="documentPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker format="dd-MM-yyyy" #documentPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <label class="custom-label">
            <h5> Shipping Date</h5>
          </label>
          <mat-form-field>
            <input matInput
                   [matDatepicker]="paymentPicker"
                   #deliveryDateModel
                   required
                   (focus)="paymentPicker.open()"
                   [min]="minDate"
                   formControlName="Shippingdate"
                   placeholder="Shipping Date">
                   <mat-datepicker-toggle matSuffix
                   [for]="paymentPicker"></mat-datepicker-toggle>
                  <mat-datepicker format="dd-MM-yyyy" #paymentPicker></mat-datepicker>
          </mat-form-field>
        </div>
          <div class="col-sm-3">
          <label class="custom-label">
            <h5> Delivery Date</h5>
          </label>
          <mat-form-field>
            <input matInput
                   [matDatepicker]="paymentPicker"
                   #deliveryDateModel
                   required
                   (focus)="paymentPicker.open()"
                   [min]="minDate"
                   formControlName="Deliverydate"
                   placeholder="Delivery Date">
                   <mat-datepicker-toggle matSuffix
                   [for]="paymentPicker"></mat-datepicker-toggle>
                  <mat-datepicker format="dd-MM-yyyy" #paymentPicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="mt-20">
        <h4>PO List</h4>
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="srNo">
            <th mat-header-cell *matHeaderCellDef># </th>
            <td mat-cell *matCellDef="let element;let i = index"> {{i+1+index}} </td>
          </ng-container>
          <ng-container matColumnDef="polineno">
            <th mat-header-cell *matHeaderCellDef> PO Line No </th>
            <td mat-cell *matCellDef="let element"> {{element?.PlantId}}
            </td>
          </ng-container>
          <ng-container matColumnDef="ProductCode">
            <th mat-header-cell *matHeaderCellDef> ProductCode </th>
            <td mat-cell *matCellDef="let element"> {{element?.ProductCode}}</td>
          </ng-container>
          <ng-container matColumnDef="Sequanceno">
            <th mat-header-cell *matHeaderCellDef>Sequance No  </th>
            <td mat-cell *matCellDef="let element"> {{element?.PlantId}}
            </td>
          </ng-container>
          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element?.ProductDescription}} </td>
          </ng-container>
          <ng-container matColumnDef="Deliveryqty">
            <th mat-header-cell *matHeaderCellDef> Delivery Qty(ASN)</th>
            <td mat-cell *matCellDef="let element;let i = index">
            <input matInput type="number" [value]="element.Qty" name='Qty' (input)="DetLineChange($event,i)" />
            <!-- <td mat-cell *matCellDef="let element"> {{element?.Qty}} </td> -->
            </td>
          </ng-container>
          <ng-container matColumnDef="PutAwayqty">
            <th mat-header-cell *matHeaderCellDef> Open GR Qty </th>
            <td mat-cell *matCellDef="let element"> {{element?.Qty}} </td>
          </ng-container>
          <ng-container matColumnDef="Unit">
            <th mat-header-cell *matHeaderCellDef> Unit </th>
            <td mat-cell *matCellDef="let element">
              {{element?.UnitId}} </td>
          </ng-container>
          <ng-container matColumnDef="Plant">
            <th mat-header-cell *matHeaderCellDef> Plant / Warehouse </th>
            <td mat-cell *matCellDef="let element">
              {{element?.PlantDescription}} </td>
          </ng-container>
          <ng-container matColumnDef="Location">
            <th mat-header-cell *matHeaderCellDef> Location </th>
            <td mat-cell *matCellDef="let element">
              {{element?.LocationDescription}} </td>
          </ng-container>
          <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="openModelForAddItem(editProduct,element)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>
          <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef> Remove </th>
            <td mat-cell *matCellDef="let element">
             <button mat-icon-button (click)="openModelForDeleteItem(deleteAlert,element)">  <mat-icon >delete</mat-icon></button>
             </td>
        </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <app-no-record-found *ngIf="!dataSource?.data?.length"
                             [columnCount]="displayedColumns.length"></app-no-record-found>
      </div>
      <div class="d-flex justify-content-end mt-20">
        <button [disabled]="" mat-raised-button
                color="primary" (click)="openForAddAsn()"> Create ASN</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>


<!-- Modal popup -->
<ng-template #editProduct style="width: 56vw;">
  <h2 mat-dialog-title>{{ selectedLineId ? 'Update' : 'Add'}} Product Details</h2>
  <mat-dialog-content>
    <form [formGroup]="ASNLineForm">
      <div class="row mt-5">
        <div class="col-sm-6">
          <label class="custom-label">
            <h5>Product Code<small>*</small></h5>
          </label>
          <mat-form-field class="demo-full-width">
            <input matInput
                   [matAutocomplete]="autocomplete"
                   formControlName="Product"
                   placeholder="Product Code">
            <mat-autocomplete #autocomplete="matAutocomplete" [displayWith]="productDisplayFn"
                              (optionSelected)='getPosts($event.option.value)'>
              <mat-option *ngFor="let product of filteredProducts | async"
                          [value]="product">
                <span>{{ product.ProductCode }}</span>
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="ASNLineForm.get('Product')?.hasError('required')">
              Please select product code...
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <label class="custom-label">
            <h5>Product Description</h5>
          </label>
          <mat-form-field appearance="outline" class="demo-full-width">
            <input matInput type="text" formControlName="Description"
            placeholder="Product Description" readonly>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <label class="custom-label">
            <h5>Product Group</h5>
          </label>
          <mat-form-field appearance="outline" class="demo-full-width">
            <input matInput type="text" formControlName="ProductGroup" readonly
            placeholder="Product Group">

          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <label class="custom-label">
            <h5>Qty<small>*</small></h5>
          </label>
          <mat-form-field appearance="outline" class="demo-full-width">
            <input matInput type="text" formControlName="Qty" (keypress)="onKeyPress($event)"
            placeholder="Qty"
                   required>
                   <mat-error *ngIf="ASNLineForm.get('Qty')?.hasError('required')">
                    Please enter Qty...
                  </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <label class="custom-label">
            <h5>Unit<small>*</small></h5>
          </label>
          <mat-form-field class="demo-full-width">
            <input matInput
                   [matAutocomplete]="unitAutocomplete"
                   formControlName="Unit"
                   placeholder="Unit">
            <mat-autocomplete #unitAutocomplete="matAutocomplete" [displayWith]="unitDisplayFn">
              <mat-option *ngFor="let unit of filteredUnits | async"
                          [value]="unit">
                <span>{{ unit?.UOM }} - {{ unit?.MeasurementUnitName }}</span>
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="ASNLineForm.get('Unit')?.hasError('required')">
              Please select unit...
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <label class="custom-label">
            <h5>Delivery Date<small>*</small></h5>
          </label>
          <mat-form-field class="demo-full-width">
            <input matInput
                   [matDatepicker]="deliveryDate"
                   #deliveryDateModel
                   required
                   (focus)="deliveryDate.open()"
                   [min]="minDate"
                   readonly
                   formControlName="DeliveryDate"
                   placeholder="Delivery Date">
            <mat-datepicker-toggle matSuffix
                                   [for]="deliveryDate"></mat-datepicker-toggle>
            <mat-datepicker format="dd-MM-yyyy" #deliveryDate></mat-datepicker>
            <mat-error *ngIf="ASNLineForm.get('DeliveryDate')?.hasError('required')">
              Please select date...
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <label class="custom-label">
            <h5>Plant / Warehouse<small>*</small></h5>
          </label>
          <mat-form-field class="demo-full-width">
            <input matInput
                   [matAutocomplete]="plantAutocomplete"
                   formControlName="Plant"
                   placeholder="Plant / Warehouse">
            <mat-autocomplete #plantAutocomplete="matAutocomplete"
                              (optionSelected)="onChangePlant($event.option.value.PlantCode)"
                              [displayWith]="plantDisplayFn">
              <mat-option *ngFor="let plant of filteredPlants | async"
                          [value]="plant">
                <span>{{ plant.PlantCode }} - {{ plant.PlantName }}</span>
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="ASNLineForm.get('Plant')?.hasError('required')">
              Please select plant / warehouse...
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <label class="custom-label">
            <h5>Storage Location<small>*</small></h5>
          </label>
          <mat-form-field class="demo-full-width">
            <input matInput
                   [matAutocomplete]="storageAutocomplete"
                   formControlName="StorageLocation"
                   placeholder="Storage Location">
            <mat-autocomplete #storageAutocomplete="matAutocomplete"
                              [displayWith]="storageLocationDisplayFn">
              <mat-option *ngFor="let location of filteredlocation | async"
                          [value]="location">
                <span>{{ location.LocationCode }} - {{ location.LocationName }}</span>
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="ASNLineForm.get('StorageLocation')?.hasError('required')">
              Please select storage location...
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Close</button>
    <!-- <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial
            (click)="onClickAddProduct()" [disabled]="PRLineForm.invalid">{{ selectedLineId ? 'Update' : 'Add'}}</button> -->
  </mat-dialog-actions>
</ng-template>

<ng-template #deleteAlert>
  <h2 mat-dialog-title class="text-center">Delete Purchase Requisition Line Item</h2>
  <div mat-dialog-content>Once you delete this item it will not retrieve again, Are you sure want to delete this item?</div>
  <div mat-dialog-actions class="d-flex justify-content-center">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-raised-button color="warn" (click)="onClickDeleteItem()">Delete</button>
  </div>
</ng-template>
