.demo-full-width {
  width: 100%;
}

.cdk-overlay-pane{
  width: 60vw !important;
}

.mt-20{
  margin-top: 40px ;
}
.mt-15{
  margin-top: 15px;
}

td.mat-column-srNo {
  min-width: 40px !important;
  max-width: 250px !important;
  padding-right: 8px;
}
td.mat-column-PRNumber {
  min-width: 150px !important;
  max-width: 250px !important;
  padding-right: 8px;
}
td.mat-column-PRLineId {
  min-width: 100px !important;
  max-width: 250px !important;
  padding-right: 8px;
}
td.mat-column-ProductCode {
  min-width: 150px !important;
  max-width: 250px !important;
  padding-right: 8px;
}
td.mat-column-Description {
  min-width: 250px !important;
  max-width: 300px !important;
}
td.mat-column-ProductGroup {
  min-width: 250px !important;
  max-width: 250px !important;
}
td.mat-column-Qty {
  min-width: 50px !important;
  max-width: 100px !important;
}
td.mat-column-Unit {
  min-width: 100px !important;
  max-width: 250px !important;
}
td.mat-column-NetPrice {
  min-width: 100px !important;
  max-width: 250px !important;
}
td.mat-column-TotalNetPrice {
  min-width: 150px !important;
  max-width: 250px !important;
}
td.mat-column-TotalAmount {
  min-width: 150px !important;
  max-width: 250px !important;
}
td.mat-column-DeliveryDate {
  min-width: 150px !important;
  max-width: 250px !important;
}
td.mat-column-StockType {
  min-width: 200px !important;
  max-width: 250px !important;
}

td.mat-column-TaxAmount {
  min-width: 150px !important;
  max-width: 250px !important;
}
td.mat-column-Plant {
  min-width: 250px !important;
  max-width: 350px !important;
}
td.mat-column-Location {
  min-width: 250px !important;
  max-width: 350px !important;
}
td.mat-column-IsReturnItem {
  min-width: 200px !important;
  max-width: 250px !important;
}
td.mat-column-IsFreeOfCharge {
  min-width: 200px !important;
  max-width: 250px !important;
}

.example-container {
  max-width: 100%;
  overflow: auto;
}

// table {
//   max-width: 100%;
// }