<breadcrumb></breadcrumb>

<mat-card>
    <mat-card-header>
        <div class="col-md-9">
            <h3>Product List</h3>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput type="text" name="supplier" (keyup)="searchSupplier($event)"
                       placeholder="Search">
            </mat-form-field>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="mt-5">
            <div class="d-flex justify-content-end">
                <button mat-button mat-raised-button color="primary"
                        (click)="openAddProductModel(addProduct)">
                    <mat-icon>add</mat-icon>Add Product
                </button>
            </div>
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="srNo">
                    <th mat-header-cell *matHeaderCellDef># </th>
                    <td mat-cell *matCellDef="let element;let i = index"> {{i+1+index}} </td>
                </ng-container>
                <ng-container matColumnDef="ProductCode">
                    <th mat-header-cell *matHeaderCellDef> Product Code </th>
                    <td mat-cell *matCellDef="let element"> {{element?.Id}}</td>
                </ng-container>
                <ng-container matColumnDef="ERPProductCode">
                    <th mat-header-cell *matHeaderCellDef> ERP Product Code </th>
                    <td mat-cell *matCellDef="let element"> {{element?.ProductCode}}</td>
                </ng-container>
                <ng-container matColumnDef="Description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element"> {{element?.Description}} </td>
                </ng-container>
                <ng-container matColumnDef="ProductGroup">
                    <th mat-header-cell *matHeaderCellDef> Product Group </th>
                    <td mat-cell *matCellDef="let element"> {{element?.ProductGroup}} </td>
                </ng-container>
                <ng-container matColumnDef="BaseUnit">
                    <th mat-header-cell *matHeaderCellDef> Base Unit </th>
                    <td mat-cell *matCellDef="let element"> {{element?.BaseUnit}} </td>
                </ng-container>
                <ng-container matColumnDef="StandardPrice">
                    <th mat-header-cell *matHeaderCellDef> Standard Price </th>
                    <td mat-cell *matCellDef="let element"> {{element?.StandardPrice}} </td>
                </ng-container>
                <ng-container matColumnDef="MovingAvgPrice">
                    <th mat-header-cell *matHeaderCellDef> Moving Avg. Price </th>
                    <td mat-cell *matCellDef="let element"> {{element?.MovingAvgPrice}} </td>
                </ng-container>
                <ng-container matColumnDef="Plant">
                    <th mat-header-cell *matHeaderCellDef> Plant </th>
                    <td mat-cell *matCellDef="let element"> {{element?.Plant}} </td>
                </ng-container>
                <ng-container matColumnDef="Edit">
                    <th mat-header-cell *matHeaderCellDef> Edit </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button
                                (click)="openEditModelPopup(addProduct,element?.Id)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Delete">
                    <th mat-header-cell *matHeaderCellDef> Delete </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button
                                (click)="openDeleteModel(deleteAlert,element?.Id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <app-no-record-found *ngIf="!dataSource?.filteredData?.length || !dataSource?.data?.length"
                                 [columnCount]="displayedColumns.length"></app-no-record-found>
            <mat-paginator #paginator
                           [pageSize]="filter.PageSize"
                           [pageIndex]="filter.Page - 1 >= 0 ? filter.Page - 1 : 0"
                           [length]="filter.TotalRecords"
                           (page)="pageChange($event)"
                           showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>



<ng-template #addProduct style="width: 56vw;">
    <h2 mat-dialog-title> {{ !isEdit ? 'Add' : 'Edit' }} Product</h2>

    <mat-dialog-content>
        <form [formGroup]="productForm">
            <div class="row mt-5">
                <div class="col-sm-6">
                    <label class="custom-label">
                        <h5>Product Group<small>*</small></h5>
                    </label>
                    <mat-form-field class="demo-full-width">
                        <input matInput
                               [matAutocomplete]="productAutocomplete"
                               formControlName="ProductGroup"
                               placeholder="Product Group">
                        <mat-autocomplete #productAutocomplete="matAutocomplete"
                                          [displayWith]="productGroupDisplayFn">
                            <mat-option *ngFor="let productGroup of filteredProductGroup | async"
                                        [value]="productGroup">
                                <span>{{ productGroup?.ProductGroupName }} - {{
                                    productGroup?.Description }} </span>
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="productForm.get('ProductGroup')?.hasError('required')">
                            This filed is required...
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <label class="custom-label">
                        <h5>Product Description<small>*</small></h5>
                    </label>
                    <mat-form-field class="demo-full-width">
                        <input matInput
                               formControlName="ProductDescription"
                               placeholder="Product Description">
                        <mat-error
                                   *ngIf="productForm.get('ProductDescription')?.hasError('required')">
                            This filed is required...
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <label class="custom-label">
                        <h5>HSN Code<small>*</small></h5>
                    </label>
                    <mat-form-field class="demo-full-width">
                        <input matInput
                               formControlName="HSNCode"
                               placeholder="HSN Code">
                        <mat-error
                                   *ngIf="productForm.get('HSNCode')?.hasError('required')">
                            This filed is required...
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <label class="custom-label">
                        <h5>Base UOM<small>*</small></h5>
                    </label>
                    <mat-form-field class="demo-full-width">
                        <input matInput
                               [matAutocomplete]="baseUnitAutocomplete"
                               formControlName="BaseUnit"
                               placeholder="Unit">
                        <mat-autocomplete #baseUnitAutocomplete="matAutocomplete"
                                          [displayWith]="unitDisplayFn">
                            <mat-option *ngFor="let unit of filteredBaseUnit | async"
                                        [value]="unit">
                                <span>{{ unit?.UOM }} </span>
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="productForm.get('BaseUnit')?.hasError('required')">
                            This filed is required...
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <label class="custom-label">
                        <h5>Purchase UOM<small>*</small></h5>
                    </label>
                    <mat-form-field class="demo-full-width">
                        <input matInput
                               [matAutocomplete]="puchaseUnitAutocomplete"
                               formControlName="PurchaseUnit"
                               placeholder="Purchase Unit">
                        <mat-autocomplete #puchaseUnitAutocomplete="matAutocomplete"
                                          [displayWith]="unitDisplayFn">
                            <mat-option *ngFor="let unit of filteredPurchaseUnit | async"
                                        [value]="unit">
                                <span>{{ unit?.UOM }} </span>
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="productForm.get('PurchaseUnit')?.hasError('required')">
                            This filed is required...
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <label class="custom-label">
                        <h5>Sales UOM<small>*</small></h5>
                    </label>
                    <mat-form-field class="demo-full-width">
                        <input matInput
                               [matAutocomplete]="salesUnitAutocomplete"
                               formControlName="SalesUnit"
                               placeholder="Sales Unit">
                        <mat-autocomplete #salesUnitAutocomplete="matAutocomplete"
                                          [displayWith]="unitDisplayFn">
                            <mat-option *ngFor="let unit of filteredSalesUnit | async"
                                        [value]="unit">
                                <span>{{ unit?.UOM }} </span>
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="productForm.get('SalesUnit')?.hasError('required')">
                            This filed is required...
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <label class="custom-label">
                        <h5>Price Indicator<small>*</small></h5>
                    </label>
                    <mat-form-field class="demo-full-width">
                        <input matInput
                               [matAutocomplete]="PIUnitAutocomplete"
                               formControlName="PriceIndicator"
                               placeholder="Price Indicator">
                        <mat-autocomplete #PIUnitAutocomplete="matAutocomplete"
                                          [displayWith]="priceIndicatorDisplayFn">
                            <mat-option *ngFor="let priceIndicator of filteredPriceIndicator | async"
                                        [value]="priceIndicator"
                                        (onSelectionChange)="onSelectPriceIndicator($event)">
                                <span>{{ priceIndicator?.Name }} </span>
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="productForm.get('PriceIndicator')?.hasError('required')">
                            This filed is required...
                        </mat-error>
                    </mat-form-field>
                </div>
                <ng-container *ngIf="selectedPriceIndicator=='S'">
                    <div class="col-sm-6">
                        <label class="custom-label">
                            <h5>Standard Price<small>*</small></h5>
                        </label>
                        <mat-form-field class="demo-full-width">
                            <input matInput
                                   formControlName="StandardPrice"
                                   placeholder="Standard Price"
                                   (keypress)="onKeyPressWithDot($event)">
                            <mat-error
                                       *ngIf="productForm.get('StandardPrice')?.hasError('required')">
                                This filed is required...
                            </mat-error>
                        </mat-form-field>
                    </div>
                </ng-container>
                <ng-container *ngIf="selectedPriceIndicator=='V'">
                    <div class="col-sm-6">
                        <label class="custom-label">
                            <h5>Moving Avg. Price<small>*</small></h5>
                        </label>
                        <mat-form-field class="demo-full-width">
                            <input matInput
                                   formControlName="MovingAvgPrice"
                                   placeholder="Moving Avg. Price"
                                   (keypress)="onKeyPressWithDot($event)">
                            <mat-error
                                       *ngIf="productForm.get('MovingAvgPrice')?.hasError('required')">
                                This filed is required...
                            </mat-error>
                        </mat-form-field>
                    </div>
                </ng-container>
                <ng-container>
                    <div class="col-sm-6">
                        <label class="custom-label">
                            <h5>GST(%) <small>*</small></h5>
                        </label>
                        <mat-form-field class="demo-full-width">
                            <input matInput
                                   formControlName="GST"
                                   placeholder="GST(%)" (keypress)="onKeyPressWithDot($event)">
                            <mat-error
                                       *ngIf="productForm.get('GST')?.hasError('required')">
                                This filed is required...
                            </mat-error>
                            <mat-error
                                       *ngIf="productForm.get('GST')?.hasError('min')">
                                GST(%) must be minimum 0% and maximum 28%.
                            </mat-error>
                            <mat-error
                                       *ngIf="productForm.get('GST')?.hasError('max')">
                                GST(%) must be maximum 28%.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </ng-container>
                <div class="col-sm-6">
                    <label class="custom-label">
                        <h5>Plant<small>*</small></h5>
                    </label>
                    <mat-form-field class="demo-full-width">
                        <input matInput
                               [matAutocomplete]="plantAuto"
                               formControlName="Plant"
                               placeholder="Plant">
                        <mat-autocomplete #plantAuto="matAutocomplete"
                                          [displayWith]="plantDisplayFn">
                            <mat-option *ngFor="let plant of filteredPlant | async"
                                        [value]="plant">
                                <span>{{ plant?.PlantCode }} - {{ plant?.PlantName }} </span>
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="productForm.get('Plant')?.hasError('required')">
                            This filed is required...
                        </mat-error>
                    </mat-form-field>
                </div>
                <ng-container *ngIf="isEdit">
                    <div class="col-sm-12">
                        <mat-checkbox color="primary"
                                      formControlName="IsActive">Active?</mat-checkbox>
                    </div>
                </ng-container>
            </div>

        </form>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close>Close</button>
        <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial
                [disabled]="productForm.invalid" (click)="onClickAddOrUpdateProduct()">{{ !isEdit ?
            'Add' : 'Update' }}</button>
    </mat-dialog-actions>

</ng-template>

<ng-template #deleteAlert>
    <h2 mat-dialog-title class="text-center">Delete Product</h2>
    <div mat-dialog-content>Are you sure want to delete this product?</div>
    <div mat-dialog-actions class="d-flex justify-content-center">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="warn" (click)="onClickDeleteProduct()">Delete</button>
    </div>
</ng-template>