<breadcrumb></breadcrumb>

<mat-card>
    <mat-card-header>
        <div class="row w-100">
            <div class="col-md-9">
                <h3>Supplier List</h3>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Search</mat-label>
                    <input matInput type="text" name="supplier" (keyup)="searchSupplier($event)"
                           placeholder="Search">
                </mat-form-field>
            </div>
            <ng-container *ngIf="Role.Admin == userRole">
                <div class="d-flex justify-content-end col-md-12">
                    <button mat-button mat-raised-button color="primary"
                            (click)="onClickAddSupplier()">
                        <mat-icon>add</mat-icon>Add Supplier
                    </button>
                </div>
            </ng-container>
        </div>
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group dynamicHeight (selectedTabChange)="onTabChanged($event);">
            <mat-tab>
                <ng-template mat-tab-label>All Suppliers</ng-template>
                <div class="mt-5">
                    <app-all-suplier-list [supplierList]="allSuppliierList"
                                          [searchText]="searchText"
                                          (APICallAllSupplierList)="apiAllSupplierList()"></app-all-suplier-list>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>Pendiing For Approval</ng-template>
                <div class="mt-5">
                    <app-pending-suplier-list [supplierList]="pendingSuppliierList"
                                              (APICallPendingSupplierList)="apiAllPendingList()"
                                              [searchText]="searchText"></app-pending-suplier-list>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>Approved</ng-template>
                <div class="mt-5">
                    <app-approved-suplier-list [supplierList]="approveSuppliierList"
                                               [searchText]="searchText"></app-approved-suplier-list>
                </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>Rejected</ng-template>
              <div class="mt-5">
                <app-reject-suplier-list [supplierList]="rejectsuplierlist"
                [searchText]="searchText"></app-reject-suplier-list>
              </div>
          </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>
