<breadcrumb></breadcrumb>

<mat-card>
  <mat-card-header>
    <div class="col-md-9">
      <h3>Purchase Order Detail</h3>
    </div>
    <!-- <mat-card-title>Purchase Order Detail</mat-card-title> -->
    <div class="col-md-3 d-flex  justify-content-end">
      <button mat-raised-button class="btn-back mr-10" (click)="onClickBack()">
        Back
      </button>
      <button mat-raised-button color="primary" class="mr-10" (click)="print()">
        <mat-icon>print</mat-icon> Print
      </button>
    </div>
  </mat-card-header>


  <mat-card-content *ngIf="PODetails">
    <div class="row">
      <div class="col-md-2">
        <h5 class="mb-0">PO Number</h5>
        <p class="mt-5">{{PODetails.ERPPONumber}}</p>
      </div>
      <!-- <div class="col-md-2">
        <h5 class="mb-0">PR Number</h5>
        <p class="mt-5">{{PODetails.PRHeaderId}}</p>
      </div> -->
      <div class="col-md-2">
        <h5 class="mb-0">PO Doc Type</h5>
        <p class="mt-5">{{PODetails.DocType}}</p>
      </div>
      <div class="col-md-2">
        <h5 class="mb-0">Company Code</h5>
        <p class="mt-5">{{PODetails.CompanyCode}}</p>
      </div>
      <div class="col-md-2">
        <h5 class="mb-0">PO Date</h5>
        <p class="mt-5">{{PODetails.PODate | date : 'dd-MM-yyyy'}}</p>
      </div>
      <div class="col-md-2">
        <h5 class="mb-0">Contract No</h5>
        <p class="mt-5">{{PODetails.Id}}</p>
      </div>
      <div class="col-md-2">
        <h5 class="mb-0">RFQ No</h5>
        <p class="mt-5">{{PODetails.RFQHeaderId}}</p>
      </div>
      <div class="col-md-4">
        <h5 class="mb-0">Plant</h5>
        <p class="mt-5">{{PODetails.Plant?.PlantCode}} - {{PODetails.Plant?.PlantName}}</p>
      </div>
      <div class="col-md-4">
        <h5 class="mb-0">Supplier</h5>
        <p class="mt-5">{{PODetails.Supplier?.SupplierCode}} - {{PODetails.Supplier?.FirstName}}
          {{PODetails.Supplier?.LastName}}</p>
      </div>
      <div class="col-md-2">
        <h5 class="mb-0">Total Amount</h5>
        <p class="mt-5">{{PODetails.TotalPOAmount | number: '1.0-0'}}</p>
      </div>

    </div>
    <div class="mt-20">
      <h4>Product Order List</h4>
      <div class="example-container">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="srNo">
            <th mat-header-cell *matHeaderCellDef># </th>
            <td mat-cell *matCellDef="let element;let i = index"> {{i+1+index}} </td>
            <th mat-footer-cell *matFooterCellDef> <b *ngIf="PODetails.POLineItems.length">Total :
              </b></th>
          </ng-container>
          <ng-container matColumnDef="ERPPRNumber">
            <th mat-header-cell *matHeaderCellDef> ERP PR Number</th>
            <td mat-cell *matCellDef="let element"> {{element?.ERPPRNumber}} </td>
          </ng-container>
           <ng-container matColumnDef="ProductCode">
            <th mat-header-cell *matHeaderCellDef> Product Code </th>
            <td mat-cell *matCellDef="let element"> {{element?.Product?.ProductCode}} -
              {{element?.Product?.Description}}</td>
          </ng-container>
          <ng-container matColumnDef="ProductGroup">
            <th mat-header-cell *matHeaderCellDef> Product Group</th>
            <td mat-cell *matCellDef="let element"> {{element?.Product?.ProductGroup}} </td>
          </ng-container>
          <ng-container matColumnDef="Qty">
            <th mat-header-cell *matHeaderCellDef> Qty </th>
            <td mat-cell *matCellDef="let element"> {{element?.Qty}} </td>
          </ng-container>
          <ng-container matColumnDef="Unit">
            <th mat-header-cell *matHeaderCellDef> Unit </th>
            <td mat-cell *matCellDef="let element"> {{element?.Unit?.UOM}} </td>
          </ng-container>
          <ng-container matColumnDef="NetPrice">
            <th mat-header-cell *matHeaderCellDef> Net Price </th>
            <td mat-cell *matCellDef="let element"> {{element?.NetPrice }} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          <ng-container matColumnDef="TotalNetPrice">
            <th mat-header-cell *matHeaderCellDef>Total Net Price </th>
            <td mat-cell *matCellDef="let element"> {{element?.TotalNetPrice | number: '1.0-0'}}
            </td>
            <td mat-footer-cell *matFooterCellDef> <b *ngIf="PODetails.POLineItems?.length">
                {{calculateTotalForFooter('TotalNetPrice') |
                number: '1.0-0'}}</b> </td>
          </ng-container>
          <ng-container matColumnDef="Tax">
            <th mat-header-cell *matHeaderCellDef> Tax(%) </th>
            <td mat-cell *matCellDef="let element"> {{element?.Tax}}% </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          <ng-container matColumnDef="TaxAmount">
            <th mat-header-cell *matHeaderCellDef> Tax Amount </th>
            <td mat-cell *matCellDef="let element"> {{element?.TaxAmount | number: '1.0-0'}} </td>
            <td mat-footer-cell *matFooterCellDef><b *ngIf="PODetails.POLineItems?.length">
                {{calculateTotalForFooter('TaxAmount') |
                number: '1.0-0'}} </b></td>
          </ng-container>
          <ng-container matColumnDef="TotalAmount">
            <th mat-header-cell *matHeaderCellDef> Total Amount </th>
            <td mat-cell *matCellDef="let element"> {{element?.TotalAmount | number: '1.0-0'}}
            </td>
            <td mat-footer-cell *matFooterCellDef> <b
                 *ngIf="PODetails.POLineItems?.length">{{calculateTotalForFooter('TotalAmount') |
                number: '1.0-0'}} </b></td>
          </ng-container>
          <ng-container matColumnDef="Currency">
            <th mat-header-cell *matHeaderCellDef>Currency </th>
            <td mat-cell *matCellDef="let element"> {{element?.Currency}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          <ng-container matColumnDef="DeliveryDate">
            <th mat-header-cell *matHeaderCellDef> DeliveryDate </th>
            <td mat-cell *matCellDef="let element"> {{element?.DeliveryDate | date : 'dd-MM-yyyy'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="Location">
            <th mat-header-cell *matHeaderCellDef> Location </th>
            <td mat-cell *matCellDef="let element"> {{element?.StorageLocation?.LocationName}} </td>
          </ng-container>
          <ng-container matColumnDef="Close" stickyEnd>
            <th mat-header-cell *matHeaderCellDef> Close </th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox color="primary"></mat-checkbox>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <app-no-record-found *ngIf="!dataSource?.filteredData?.length || !dataSource?.data?.length"
                             [columnCount]="displayedColumns.length"></app-no-record-found>
      </div>
    </div>
  </mat-card-content>
</mat-card>