.mr-10{
    margin-right: 10px !important;
}

.mb-0{
    margin-bottom: 0px !important;
}
.mt-5{
    margin-top: 5px !important;
}
.cdk-overlay-pane{
    width: 60vw !important;
  }
.example-container {
    max-width: 100%;
    overflow: auto;
  }