.demo-full-width {
    width: 100%;
  }
  
  .cdk-overlay-pane{
    width: 60vw !important;
  }
  
  .mt-20{
    margin-top: 40px ;
  }
  .mt-15{
    margin-top: 15px;
  }
  .mb-10{
    margin-bottom: 10px !important;
  }
  