<breadcrumb></breadcrumb>

<mat-card>
    <mat-card-header>
      <div class="col-md-9">
        <h3>User List</h3>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput type="text" name="username" (keyup)="searchUser($event)" placeholder="Search" >
        </mat-form-field>
      </div>
    </mat-card-header>
    <mat-card-content>
        <div class="mt-5">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="srNo">
                    <th mat-header-cell *matHeaderCellDef># </th>
                    <td mat-cell *matCellDef="let element;let i = index"> {{i+1+index}} </td>
                </ng-container>
                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef> User Name </th>
                    <td mat-cell *matCellDef="let element"> {{element?.UserName}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> First Name </th>
                    <td mat-cell *matCellDef="let element"> {{element?.FirstName}} </td>
                </ng-container>
                <ng-container matColumnDef="erpUserId">
                    <th mat-header-cell *matHeaderCellDef> ERP User Id </th>
                    <td mat-cell *matCellDef="let element"> {{element?.ERPUserId}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element?.Email}} </td>
                </ng-container>
                <ng-container matColumnDef="mobile">
                    <th mat-header-cell *matHeaderCellDef> Mobile </th>
                    <td mat-cell *matCellDef="let element"> {{element?.Mobile}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <app-no-record-found *ngIf="!dataSource?.filteredData?.length || !dataSource?.data?.length" [columnCount]="displayedColumns.length"></app-no-record-found>
            <mat-paginator #paginator  [pageSize]="filter.PageSize"
            [pageIndex]="filter.Page - 1 >= 0 ? filter.Page - 1 : 0" [length]="filter.TotalRecords"
            (page)="pageChange($event)"
            showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>