<breadcrumb></breadcrumb>

<mat-card>
    <mat-card-header>
        <div class="col-md-9">
            <h3>Approval Configuration</h3>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput type="text" name="supplier" (keyup)="searchApprovalConfig($event)"
                       placeholder="Search">
            </mat-form-field>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="mt-5">
            <div class="d-flex justify-content-end">
                <button mat-button mat-raised-button color="primary"
                        (click)="onClickAddConfig()">
                    <mat-icon>add</mat-icon>Add Approval Config
                </button>
            </div>
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="srNo">
                    <th mat-header-cell *matHeaderCellDef># </th>
                    <td mat-cell *matCellDef="let element;let i = index"> {{i+1+index}} </td>
                </ng-container>
                <ng-container matColumnDef="ApprovalFor">
                    <th mat-header-cell *matHeaderCellDef> Approval For </th>
                    <td mat-cell *matCellDef="let element"> {{element?.Type}}</td>
                </ng-container>
                <ng-container matColumnDef="ApprovalType">
                    <th mat-header-cell *matHeaderCellDef>Approval Type</th>
                    <td mat-cell *matCellDef="let element"> {{element?.DisplayText}}</td>
                </ng-container>
                <ng-container matColumnDef="DocType">
                    <th mat-header-cell *matHeaderCellDef> Doc. Type </th>
                    <td mat-cell *matCellDef="let element"> {{element?.DocType}} </td>
                </ng-container>
                <ng-container matColumnDef="Amount">
                    <th mat-header-cell *matHeaderCellDef> Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element?.Amount}} </td>
                </ng-container>

                <ng-container matColumnDef="Edit">
                    <th mat-header-cell *matHeaderCellDef> Edit </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button [routerLink]="['edit-approval']" [queryParams]="{id: element.Id}"  matTooltip="Click to Edit"
                                >
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Delete">
                    <th mat-header-cell *matHeaderCellDef> Delete </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button
                                (click)="openDeleteModel(deleteAlert,element?.Id)"  matTooltip="Click to Delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                 <ng-container matColumnDef="AddStrategy">
                    <th mat-header-cell *matHeaderCellDef> Add Strategy </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary"
                        [routerLink]="['add-strategy']" [queryParams]="{atid: element.Id}" matTooltip="Click to Add Strategy">
                            <mat-icon>add_circle</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <app-no-record-found *ngIf="!dataSource?.filteredData?.length || !dataSource?.data?.length"
                                 [columnCount]="displayedColumns.length"></app-no-record-found>
            <mat-paginator #paginator
                           [pageSize]="filter.PageSize"
                           [pageIndex]="filter.Page - 1 >= 0 ? filter.Page - 1 : 0"
                           [length]="filter.TotalRecords"
                           (page)="pageChange($event)"
                           showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>



<ng-template #deleteAlert>
    <h2 mat-dialog-title class="text-center">Delete Approval Configuration</h2>
    <div mat-dialog-content>Are you sure want to delete this config?</div>
    <div mat-dialog-actions class="d-flex justify-content-center">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="warn" (click)="onClickDeleteApprovalConfig()">Delete</button>
    </div>
</ng-template>
