<breadcrumb></breadcrumb>

<mat-card>
  <mat-card-header>
    <div class="row demo-full-width">
      <div class="col-md-9">
        <mat-card-title>Advance Shipping Detail</mat-card-title>
      </div>
      <div class="col-md-3 d-flex justify-content-end">
        <button mat-button mat-raised-button class="btn-back" (click)="onClickBack()"> Back</button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content *ngIf="ASNDetails">
    <div class="row">
      <div class="col-md-2">
        <h5 class="mb-0">ASN Number</h5>
        <p class="mt-5">{{ASNDetails.ERPPONumber}}</p>
      </div>
      <div class="col-md-2">
        <h5 class="mb-0">ERP PO Number</h5>
        <p class="mt-5">{{ASNDetails.ERPPONumber}}</p>
      </div>
      <div class="col-md-2">
        <h5 class="mb-0">Doc Type</h5>
        <p class="mt-5">{{ASNDetails.DocType}}</p>
      </div>
      <div class="col-md-2">
        <h5 class="mb-0">ASN Date</h5>
        <p class="mt-5">{{ASNDetails.ASNDate | date : 'dd-MM-yyyy'}}</p>
      </div>
      <div class="col-md-2">
        <h5 class="mb-0">Shipping Date</h5>
        <p class="mt-5">{{ASNDetails.ShippingDate | date : 'dd-MM-yyyy'}}</p>
      </div>
      <div class="col-md-2">
        <h5 class="mb-0">Delivery Date</h5>
        <p class="mt-5">{{ASNDetails.DeliveryDate | date : 'dd-MM-yyyy'}}</p>
      </div>
      <div class="col-md-4">
        <h5 class="mb-0">Company</h5>
        <p class="mt-5">{{ASNDetails.Company?.CompanyCode}} - {{ASNDetails.Company?.CompanyName}}</p>
      </div> 
      <div class="col-md-4">
        <h5 class="mb-0">Supplier</h5>
        <p class="mt-5">{{ASNDetails.Supplier?.SupplierCode}} - {{ASNDetails.Supplier?.FirstName}} {{ASNDetails.Supplier?.LastName}}</p>
      </div>
    </div>
    <div class="mt-20">
      <h4>Product List</h4>
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="srNo">
          <th mat-header-cell *matHeaderCellDef># </th>
          <td mat-cell *matCellDef="let element;let i = index"> {{i+1+index}} </td>
        </ng-container>
        <ng-container matColumnDef="ProductCode">
          <th mat-header-cell *matHeaderCellDef> Product </th>
          <td mat-cell *matCellDef="let element"> {{element?.Product?.ProductCode}} -
            {{element?.Product?.Description}}</td>
        </ng-container>
        <ng-container matColumnDef="ProductGroup">
          <th mat-header-cell *matHeaderCellDef> ProductGroup </th>
          <td mat-cell *matCellDef="let element"> {{element?.Product?.ProductGroup}} </td>
        </ng-container>
        <ng-container matColumnDef="Qty">
          <th mat-header-cell *matHeaderCellDef>Delivery Qty </th>
          <td mat-cell *matCellDef="let element"> {{element?.DeliveryQty}} </td>
        </ng-container>
        <ng-container matColumnDef="Unit">
          <th mat-header-cell *matHeaderCellDef> Unit </th>
          <td mat-cell *matCellDef="let element"> {{element?.Unit?.UOM}} </td>
        </ng-container>
        <ng-container matColumnDef="DeliveryDate">
          <th mat-header-cell *matHeaderCellDef> DeliveryDate </th>
          <td mat-cell *matCellDef="let element"> {{element?.DeliveryDate | date : 'dd-MM-yyyy'}}
          </td>
        </ng-container>
        <!-- <ng-container matColumnDef="Plant">
          <th mat-header-cell *matHeaderCellDef> Plant / Warehouse </th>
          <td mat-cell *matCellDef="let element">
            {{element?.Plant}} </td>
        </ng-container> -->
        <ng-container matColumnDef="Location">
          <th mat-header-cell *matHeaderCellDef> Location </th>
          <td mat-cell *matCellDef="let element"> {{element?.StorageLocation?.LocationName}} </td>
        </ng-container>
        <ng-container matColumnDef="Close">
          <th mat-header-cell *matHeaderCellDef> Close </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox color="primary"></mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="RFQ">
          <th mat-header-cell *matHeaderCellDef> RFQ </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox color="primary"></mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="View">
          <th mat-header-cell *matHeaderCellDef> View Packing</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="openModelForViewItem(viewBatchOrSerialNo,element)"
                    [disabled]="!element?.IsSerialNo && !element?.IsBatchNo"
                    matTooltip="Click to View"> <mat-icon>remove_red_eye</mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <app-no-record-found *ngIf="!dataSource?.filteredData?.length || !dataSource?.data?.length"
                           [columnCount]="displayedColumns.length"></app-no-record-found>
    </div>
  </mat-card-content>
</mat-card>


<ng-template #viewBatchOrSerialNo style="width: 56vw;">
  <!-- <button mat-icon-button style="float:right;" (click)="closeDialog()">
        <mat-icon class="close-icon" color="warn">close</mat-icon>
      </button> -->
  <button style="float:right; color:red; background-color: transparent;" mat-button
          (click)="closeDialog()">X</button>
  <h2 mat-dialog-title>View Batch / Serial Number </h2>
  <!-- <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button> -->
  <mat-dialog-content>
    <table mat-table [dataSource]="packingdataSource">
      <ng-container matColumnDef="srNo">
        <th mat-header-cell *matHeaderCellDef># </th>
        <td mat-cell *matCellDef="let element;let i = index"> {{i+1+index}} </td>
      </ng-container>
      <ng-container matColumnDef="Product">
        <th mat-header-cell *matHeaderCellDef> Product Code - Description </th>
        <td mat-cell *matCellDef="let element"> {{element?.ProductCode}} -
          {{element?.ProductDescription}}</td>
      </ng-container>
      <ng-container matColumnDef="BatchNo">
        <th mat-header-cell *matHeaderCellDef> Batch No </th>
        <td mat-cell *matCellDef="let element"> {{element?.BatchNo}} </td>
      </ng-container>
      <ng-container matColumnDef="SerialNo">
        <th mat-header-cell *matHeaderCellDef> Serial No </th>
        <td mat-cell *matCellDef="let element"> {{element?.SerialNo}}</td>
      </ng-container>
      <ng-container matColumnDef="Qty">
        <th mat-header-cell *matHeaderCellDef> Qty </th>
        <td mat-cell *matCellDef="let element"> {{element?.Qty ? element?.Qty : 1}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedPackingColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedPackingColumns;"></tr>
    </table>
    <div>
      <app-no-record-found *ngIf="!packingdataSource?.filteredData?.length || !packingdataSource?.data?.length"
                           [columnCount]="displayedColumns.length"></app-no-record-found>
    </div>
  </mat-dialog-content>
</ng-template>