<breadcrumb></breadcrumb>

<mat-card>
    <mat-card-header>
      <div class="col-md-9">
        <h3>List OF Purchase Requisition</h3>
      </div>
      <!-- <div class="col-md-3">
        <mat-form-field  appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput type="text" name="supplier" (keyup)="searchSupplier($event)" placeholder="Search" >
        </mat-form-field>
      </div> -->
      <div class="col-md-3 d-flex  justify-content-end">
        <button mat-raised-button color="primary" routerLink="create">
            Create Purchase Requistion
        </button>
      </div>
    </mat-card-header>
    <mat-card-content>
        <div class="mt-5">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="srNo">
                    <th mat-header-cell *matHeaderCellDef># </th>
                    <td mat-cell *matCellDef="let element;let i = index"> {{i+1+index}} </td>
                </ng-container>
                <ng-container matColumnDef="PRNumber">
                    <th mat-header-cell *matHeaderCellDef> PR Number </th>
                    <td mat-cell *matCellDef="let element"> {{element?.Id}}</td>
                </ng-container>
                <ng-container matColumnDef="ERPPRNumber">
                  <th mat-header-cell *matHeaderCellDef>ERP PR Number </th>
                  <td mat-cell *matCellDef="let element"> {{element?.ERPPRNumber}}</td>
              </ng-container>
                 <ng-container matColumnDef="PRDocType">
                    <th mat-header-cell *matHeaderCellDef> Doc. Type </th>
                    <td mat-cell *matCellDef="let element"> {{element?.PRDocType}} </td>
                </ng-container>
                <ng-container matColumnDef="PRDate">
                    <th mat-header-cell *matHeaderCellDef> PR Date </th>
                    <td mat-cell *matCellDef="let element"> {{element?.PRDate | date : 'dd-MM-yyyy hh:mm a' }} </td>
                </ng-container>
                <ng-container matColumnDef="SAPStatus">
                    <th mat-header-cell *matHeaderCellDef> SAP Status </th>
                    <td mat-cell *matCellDef="let element"> {{element?.SAPStatus}} </td>
                </ng-container>
                <ng-container matColumnDef="View">
                    <th mat-header-cell *matHeaderCellDef> View </th>
                    <td mat-cell *matCellDef="let element"> 
                     <button mat-icon-button [routerLink]="['view']" [queryParams]="{id: element.Id}">   <mat-icon >remove_red_eye</mat-icon></button>
                     </td>
                </ng-container>
               
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <app-no-record-found *ngIf="!dataSource?.filteredData?.length || !dataSource?.data?.length" [columnCount]="displayedColumns.length"></app-no-record-found>
            <mat-paginator #paginator 
            [pageSize]="filter.PageSize"
              [pageIndex]="filter.Page - 1 >= 0 ? filter.Page - 1 : 0" [length]="filter.TotalRecords"
              (page)="pageChange($event)"
            showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>